projects/shop/vendor
projects/shop/.env
projects/shop/resources/views/buy_conditions.blade.php
projects/shop/resources/views/faqs.blade.blade.php
projects/shop/resources/views/legal_advice.blade.php
projects/shop/resources/views/warranty.blade.php
projects/shop/resources/views/politicy.blade.php

